<!DOCTYPE html>
<html>
<head>
  <title>Run</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body <%= "class=#{@bg}" if @bg %>>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= render 'shared/menu_list' %>

  <div class="page-wrap">

    <header class="main-header">
      <%= link_to '', '#main-nav', class: 'open-menu menu-icon' %>
      <%= link_to '', '#', class: 'close-menu menu-icon' %>
      <%= link_to '', new_user_registration_path, class: 'login-icon' %>
    </header>
  <%= yield %>
  </div>
</body>
</html>
